$pale-pale-green: #e9efe1;
$pale-green: #cde7b0;

$gray-green: #768c7a;
$dark-gray-green: #697565;

$pale-meat: #f1ede6;
$meat: #ecdfcc;

$dark-brown: #59594a;

$gray-purple-blue: #7286A0;

$less-less-dark: #444444;
$less-dark: #333333;
$transparent-dark: #5858581a;

$theme-orange : #be6e46;

$yellow: #fadfa1;

$light-gray: #eeeeee;

$error-pink : #f8aeae
